<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/book.css">
    <title>Books</title>
</head>
<body>
<h1>Nasze książki</h1>

<tr th:each="book : ${books}">
    <td th:text="${book.getAuthor()}"></td>
    <br>
    <td th:text="${book.getTitle()}"></td>
    <br>
    <hr>
</tr>
<form th:action="@{/book/addBook}" th:object="${newBook}" method="post">
    <p>Name: <input type="text" th:field="*{author}" required="true" placeholder="author"></p>
    <div th:if="${#fields.hasErrors('author')}" th:errors="*{author}"></div>
    <p>Author: <input type="text" th:field="*{title}" placeholder="title"></p>
    <div th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
    <p><input type="submit" value="Add new book"></p>
</form>

<form th:action="@{/book/removeBook1}" method="post">
    <p>Author: <input type="text" name="author" placeholder="Wpisz autora do usunięcia"></p>
    <p><input type="submit" value="Remove books"></p>
</form>

<!--<form th:action="@{/book/removeBook}" th:object="${newBook}" method="post">-->
<!--    <p>Author: <input th:field="*{author}" type="text" name="author" placeholder="Wpisz autora do usunięcia"></p>-->
<!--    <p><input type="submit" value="Remove books"></p>-->
<!--</form>-->

</body>
</html>